$base-font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';

$white:            #eee;
$brand-dark:       #332a26;
$brand-light:      #f4f6ef;

$xs: 18.75em; // 300px
$s: 28em; // 448px
$sm: 34em; // 544px
$m: 42.5em; // 760px
$l: 63em; // 1008px
