$base-font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';

$white:            #eee;
$brand-dark:       #332a26;
$brand-light:      #f4f6ef;

$xs: 12.5em; // 200px;
$s: 18.75em; // 300px
$sm: 28em; // 448px
$m: 47.5em; // 760px
$l: 63em; // 1008px
