<header role="banner">

    <div id="inner-header">

        {{#if @blog.logo}}
            <!-- Logo -->
            <div id="logo" class="alpha">
                <a id="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt=" "></a>
            </div>
        {{/if}}

        <!-- Title -->
        <div id="site-title" class="alpha">
            <a href="{{@blog.url}}" rel="nofollow">{{@blog.title}}</a>
        </div>

        <a href="#main" class="skip-navigation">Skip to content</a>

        <!-- Static Menu (Dynamic menu not yet available in Ghost 0.3) -->
        {{> navigation}}

    </div>

</header>
