.heading {
  font-family: 'ff-dax-web-pro-condensed';
  margin-bottom: 0;
  color: $brand-dark;

  a {
    text-decoration: none;
    color: $brand-dark;

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}

.heading--strong {
  font-weight: 700;
  text-transform: uppercase;
}

.heading--flex {
  font-size: 1.5rem;

  @include mq(SM) {
    font-size: 2rem;
  }
}

.heading--logo {
  color: $brand-color;

  a {
    color: $brand-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ff-dax-web-pro-condensed';
}
