html,
body {
  overflow-x: hidden;
}

.contentarea {
  position: relative;
  padding: .5rem;

  @include mq(SM) {
    padding: 1rem;
  }
}

.site-title {
  @include mq(S) {
    display: inline-block;
  }
}

.site-navigation {
  @include mq(XS) {
    position: relative;
    float: right;
    top: -2em;
  }

  @include mq(S) {
    top: .1em;
    font-size: 125%;
  }

  @include mq(SM) {
    top: -.075em;
    font-size: 150%;
  }

  @include mq(M) {
    top: .2em;

    // at M we up the font size entirely, so this needs to be scaled back down
    font-size: 125%;
  }
}

html {
  @include mq(M) {
    font-size: 1.25rem;
  }
}

.main-container {
  max-width: 42rem;
  margin: 0 auto;
}

.header,
.footer {
  @extend %brand-dark;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $brand-dark;
    width: 9999em;
    top: 0;
    bottom: 0;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}
